.button_submit_light {
	background-color: #fff;
	color: #000;
	position: absolute;
	bottom: 0;
	right: auto;
	font-style: normal;
	font-size: 16px;
	border-radius: 2px;
	margin-bottom: 20px;
}

.button_submit_light:hover {
	background: rgba(265, 265, 265, 0.8);
}
